<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema RDA(Relatório Desccritivo Analítico)</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/script.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="loading_overlay">
    <div class="loader">
        <div class="fx-top"></div>
        <div class="container">
            <img src="/static/img/Logo SAMU_pqn.svg" class="logo_samu" alt="logo do SAMU 192">
            <h4>Sistema RDA (Relatório Descritivo Analítico)</h4>
            <form action="/relatorio" method="POST">
                <div class="row">
                    <div class="col-sm">
                        <label for="data_inicio">Data Início:</label>
                        <input type="date" class="form-control" id="data_inicio" name="data_inicio" required>
                    </div>
                    <div class="col-sm">
                        <label for="data_fim">Data Fim:</label>
                        <input type="date" class="form-control" id="data_fim" name="data_fim" required>
                    </div>
                    <div class="col-sm">
                        <label for="tipo_veiculo">Tipo de Veículo:</label>
                        <select id="tipo_veiculo" class="form-control" name="tipo_veiculo" required>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="veiculo">Veículo:</label>
                        <select id="veiculo" class="form-control" value="Veículo" name="veiculo" required>
                        </select>
                    </div>
                </div>
                <div class="col-sm text-right">
                    <button type="submit" class="btn btn-primary">Gerar Relatório</button>
                </div>
            </form>
            <div class="container hidden">
                <div>
                    <h1>Relatório de produção</h1>
                    <h3 id="nome_veiculo_selecionado"></h3>
                    <table class="table" id="dados_atendimento">
                        <thead class="thead-dark">
                            <tr></tr>
                        </thead>
                    </table>
                </div>
                <div></div>
                <div>
                    <table class="table" id="dados_atendimento_tipo_ocorrencia">
                        <thead class="thead-dark">
                            <tr></tr>
                        </thead>
                    </table>
                </div>
                <div></div>
                <div>
                    <table class="table" id="dados_atendimento_por_municipio">
                        <thead class="thead-dark">
                            <tr></tr>
                        </thead>
                    </table>
                </div>
                <div></div>
                <div>
                    <table class="table" id="dados_atendimento_por_unidade">
                        <thead class="thead-dark">
                            <tr></tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>